body {
  background-color: #b0ddff;
}

div.container {
  background: white;
  margin-top: 1vh;
  min-height: 98vh;
}

div.search-bar div {
  padding: 10px;
  background-color: #dddddd;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
